{% extends 'base.html' %}

{% block content %}

<h1 class="gpa" style="margin: 42px 0 38px 0; text-decoration: underline;"># Enter Your Semester's S.G.P.A's:</h1>
<form id="form2" action="" method="post">

  {% csrf_token %}
  {% for i in nosc %}
    <h3 style="margin: 20px 0;"><label for="">↦ Enter the sgpa for {{ i }}:</label>
    <input name="sem{{i}}" type="number" step="0.01" min="0" max="10" required></h3>
  {% endfor %}
  <button style="margin-top: 32px;"  type="submit" class="sub-submit">Submit</button>

</form>

<hr>

<p class="redirects"># To calculate expected sgpa <a href="../../">click here</a></p>
<p class="redirects"># To Logout <a href="../logout">click here</a></p>

<script>
  let links = document.querySelector('.links');
  console.log(links);
  links.style.display = "none";
</script>

{% endblock %}
