{% extends 'base.html' %}

{% block content %}
  <h1 class="greet">Hello, There!!!</h1>

  <form class = "enter-details"  action="" method="post">
    {% csrf_token %}
    <h3 style="color: inherit; text-decoration: underline;">Enter Your Expected Details:</h5>

    <div class="details">
      <div class="sub-name">
        <label for="inlineFormInputName">↦ Enter Subject Name:   </label>
        <input value="new subject" type="text" class="form-control" id="inlineFormInputName" placeholder="Enter Subject Name" name="subName">
      </div>

      <div class="sub-cred">
        <label for="inlineFormCustomSelectPref">↦ Choose the number of credits:   </label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="credit">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1.5">1.5</option>
          </select>
      </div>

      <div class="sub-grade">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">↦ Choose your expected grade:   </label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="grade">
            <option value="10">A+</option>
            <option value="9">A</option>
            <option value="8">B</option>
            <option value="7">C</option>
            <option value="6">D</option>
            <option value="5">E</option>
            <option value="0">F</option>
          </select>
      </div>
    </div>
      <button class="sub-submit" role="button" type="submit"><span class="text">Submit</span></button>

  </form>



  <hr>



  <h2 class="gpa"># Your GPA might be: {{gpa}}</h2>
  <table class="container-table">
    <thead>
      <tr>
        <th><h1>Subject Name</h1></th>
        <th><h1>Credits</h1></th>
        <th><h1>Expected Grade</h1></th>
        <th><h1>Delete</h1></th>
      </tr>
    </thead>

    <tbody>
      {% for sub in lst %}
      <tr>
          <form action="delete/" method="post">
            <td>{{ sub.name }}</td>
            <td>{{ sub.credit }}</td>
            <td>{{ sub.grade }}</td>
            {% csrf_token %}
            <td><button class="delete-btn" type="submit" name="sub_id" value={{sub.id}}>Delete</button></td>
          </form>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
  <br>

  <hr>
  <p class="redirects"># To Calculate CGPA <a href="../dashboard">click here</a></p>
{% endblock %}